@import '../../index.css';
.navbar {
  background-color: var(--black);
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.nav-link {
  text-transform: uppercase;
}


.navbar-brand, .nav-link {
  color: var(--white) !important;
  font-size: 1.5em;
}

.navbar-brand:hover, .nav-link:hover {
  /* TODO: Choose a decent hover color */
  color: var(--white) !important;
  opacity: 0.75;
}

.navbar-brand img {
  width: 100px;
  margin-right: 1em;
}

.brand-text {
  font-size: 0.5em;
  font-style: italic;
}

@media (max-width: 992px) { 
  .navbar-nav {
    width: 300px;
    margin: auto;
  }  
 }