@import './layout.css';

img {
    margin-bottom: 0;
}

.wrapper {
  padding: 20px;
  background-color: var(--black);
  color: rgb(199, 199, 199);
  display: grid;
}

.more-videos-header {
  font-family: 'Raleway SemiBold', sans-serif;
  font-style: italic;
  line-height: 1.3;
  border-bottom: 2px solid rgb(199, 199, 199);
  border-top: 2px solid rgb(199, 199, 199);
  margin-bottom: 25px;
}

.more-videos.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.video {
  /* padding: 20px; */
  display: grid;
  grid-gap: 10px;
  align-items: center;
  font-weight: 100;
  font-family: 'Raleway Light', sans-serif;
  font-size: 1.7em;
  
}

.video-title {
    margin-bottom: 1.45rem;
}

.video-title:hover {
    color: white;
    font-weight: 400;
}

.show-more {
    justify-self: right;
    margin-right: 1.5em;
    margin-bottom: 1em;
    font-size: 1.7em;
    font-family: 'Raleway Light', sans-serif;
    font-style: italic;
}

.show-more:hover {
    color: white;
    font-weight: 400;
}
